# Read data

In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
data=pd.read_csv("santander-train.csv")
data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38,TARGET
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000,0.0
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000,0.0
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000,0.0
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000,0.0
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016,0.0

# Fill missing values by mode

In [3]:
for val,col in zip(data.isna().sum(),data.isna().sum().index):
    if(val>0):
        data[col]=data[col].fillna(data[col].mode()[0])

In [4]:
data.isna().sum()

ID                               0
var3                             0
var15                            0
imp_ent_var16_ult1               0
imp_op_var39_comer_ult1          0
imp_op_var39_comer_ult3          0
imp_op_var40_comer_ult1          0
imp_op_var40_comer_ult3          0
imp_op_var40_efect_ult1          0
imp_op_var40_efect_ult3          0
imp_op_var40_ult1                0
imp_op_var41_comer_ult1          0
imp_op_var41_comer_ult3          0
imp_op_var41_efect_ult1          0
imp_op_var41_efect_ult3          0
imp_op_var41_ult1                0
imp_op_var39_efect_ult1          0
imp_op_var39_efect_ult3          0
imp_op_var39_ult1                0
imp_sal_var16_ult1               0
ind_var1_0                       0
ind_var1                         0
ind_var2_0                       0
ind_var2                         0
ind_var5_0                       0
ind_var5                         0
ind_var6_0                       0
ind_var6                         0
ind_var8_0                       0
ind_var8                         0
                                ..
saldo_medio_var13_corto_hace2    0
saldo_medio_var13_corto_hace3    0
saldo_medio_var13_corto_ult1     0
saldo_medio_var13_corto_ult3     0
saldo_medio_var13_largo_hace2    0
saldo_medio_var13_largo_hace3    0
saldo_medio_var13_largo_ult1     0
saldo_medio_var13_largo_ult3     0
saldo_medio_var13_medio_hace2    0
saldo_medio_var13_medio_hace3    0
saldo_medio_var13_medio_ult1     0
saldo_medio_var13_medio_ult3     0
saldo_medio_var17_hace2          0
saldo_medio_var17_hace3          0
saldo_medio_var17_ult1           0
saldo_medio_var17_ult3           0
saldo_medio_var29_hace2          0
saldo_medio_var29_hace3          0
saldo_medio_var29_ult1           0
saldo_medio_var29_ult3           0
saldo_medio_var33_hace2          0
saldo_medio_var33_hace3          0
saldo_medio_var33_ult1           0
saldo_medio_var33_ult3           0
saldo_medio_var44_hace2          0
saldo_medio_var44_hace3          0
saldo_medio_var44_ult1           0
saldo_medio_var44_ult3           0
var38                            0
TARGET                           0
Length: 371, dtype: int64

# Remove Constant Features

In [5]:
from sklearn.feature_selection import VarianceThreshold
constant_filter = VarianceThreshold(threshold=0)

In [6]:
x = data.drop('TARGET', axis = 1)
Y = data['TARGET']
constant_filter.fit(x)

VarianceThreshold(threshold=0)

In [7]:
#check constent features
constant_filter.get_support().sum()

279

In [8]:
constant_filter.get_support()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True, False, False, False, False,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True, False, False, False,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False, False,  True,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True, False,  True,  True,  True,  True,
       False, False,  True,  True,  True,  True,  True, False,  True,
        True, False,  True,  True, False,  True, False, False,  True,
        True,  True,  True,  True, False, False,  True, False, False,
       False,  True,  True,  True,  True,  True,  True, False, False,
        True, False, False, False,  True, False, False, False, False,
        True,  True,  True,  True,  True,  True, False,  True,  True,
        True, False,  True, False, False, False, False,  True,  True,
       False,  True, False, False, False, False, False, False, False,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True, False, False,  True,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False,  True,
       False, False, False, False,  True,  True,  True,  True, False,
        True, False, False, False, False, False, False, False,  True,
        True,  True,  True,  True, False,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True, False, False,
       False, False,  True, False,  True,  True, False, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [9]:
constant_filter_features=x.columns[constant_filter.get_support()]
constant_filter_data=x[constant_filter_features]

In [10]:
x.shape,constant_filter_data.shape

((3948, 370), (3948, 279))

In [11]:
constant_filter_data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [12]:
from sklearn.model_selection import cross_val_score
def run_randomForest(x,Y):
    clf = RandomForestClassifier(n_estimators=100, random_state=0, n_jobs = -1)
    cv=cross_val_score(clf,x,Y,scoring='accuracy',cv=10)
    print('Accuracy: ', cv.mean())

In [13]:
%%time
run_randomForest(constant_filter_data, Y)

Accuracy:  0.9508519624050049
Wall time: 5.58 s

# Remove Quasi constant features

In [14]:
quasi_filter = VarianceThreshold(threshold=0.01)
quasi_filter.fit(constant_filter_data)
quasi_filter.get_support().sum()

238

In [15]:
quasi_filter_features=constant_filter_data.columns[quasi_filter.get_support()]
quasi_filter_data=x[quasi_filter_features]

In [16]:
quasi_filter_data.shape

(3948, 238)

In [17]:
quasi_filter_data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult3,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,1,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,3,2,34,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,4,2,23,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,8,2,37,0.0,195.0,195.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,10,2,39,0.0,0.0,0.0,0.0,0.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [18]:
%%time
run_randomForest(quasi_filter_data, Y)

Accuracy:  0.9389236709444896
Wall time: 5.7 s

# Remove Duplicate Features

In [19]:
quasi_filter_data_t=pd.DataFrame(quasi_filter_data.T)

In [20]:
quasi_filter_data_t.shape

(238, 3948)

In [21]:
quasi_filter_data_t.head()

,0,1,2,3,4,5,6,7,8,9,...,3938,3939,3940,3941,3942,3943,3944,3945,3946,3947
ID,1.0,3.0,4.0,8.0,10.0,13.0,14.0,18.0,20.0,23.0,...,7889.0,7891.0,7895.0,7896.0,7900.0,7901.0,7902.0,7904.0,7908.0,7910.0
var3,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0
var15,23.0,34.0,23.0,37.0,39.0,23.0,27.0,26.0,45.0,25.0,...,71.0,31.0,31.0,23.0,23.0,52.0,26.0,23.0,25.0,31.0
imp_ent_var16_ult1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,240.0,0.0,0.0,0.0,0.0
imp_op_var39_comer_ult1,0.0,0.0,0.0,195.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
quasi_filter_data_t.duplicated().sum()

22

In [23]:
unique_features= [not index for index in quasi_filter_data_t.duplicated()]

In [24]:
unique_data=quasi_filter_data_t[unique_features].T

In [25]:
unique_data.shape

(3948, 216)

In [26]:
unique_data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var29_ult1,saldo_medio_var33_hace2,saldo_medio_var33_hace3,saldo_medio_var33_ult1,saldo_medio_var33_ult3,saldo_medio_var44_hace2,saldo_medio_var44_hace3,saldo_medio_var44_ult1,saldo_medio_var44_ult3,var38
0,1.0,2.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39205.170000
1,3.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49278.030000
2,4.0,2.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67333.770000
3,8.0,2.0,37.0,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,64007.970000
4,10.0,2.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,117310.979016

In [27]:
%%time
run_randomForest(unique_data, Y)

Accuracy:  0.9531362263643958
Wall time: 5.93 s

# Check multicolinearity

In [28]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [29]:
vif = pd.DataFrame()

# here we make use of the variance_inflation_factor, which will basically output the respective VIFs 
vif["VIF"] = [variance_inflation_factor(unique_data.values, i) for i in range(unique_data.shape[1])]
# Finally, I like to include names so it is easier to explore the result
vif["Features"] = unique_data.columns

C:\ProgramData\Anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:167: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

In [30]:
vif.sort_values(by="VIF",ascending=False)

           VIF                       Features
108        inf                    saldo_var30
104        inf                    saldo_var20
106        inf                    saldo_var26
107        inf                    saldo_var25
213        inf         saldo_medio_var44_ult1
109        inf                    saldo_var31
110        inf                    saldo_var32
111        inf                    saldo_var33
212        inf        saldo_medio_var44_hace3
113        inf                    saldo_var42
114        inf                    saldo_var44
211        inf        saldo_medio_var44_hace2
117        inf      delta_imp_aport_var17_1y3
118        inf     delta_imp_compra_var44_1y3
120        inf   delta_imp_trasp_var17_in_1y3
121        inf      delta_imp_venta_var44_1y3
122        inf     delta_num_compra_var44_1y3
105        inf                    saldo_var24
103        inf                    saldo_var17
75         inf              num_op_var41_ult3
102        inf                    saldo_var14
77         inf             num_op_var39_hace3
78         inf              num_op_var39_ult1
79         inf              num_op_var39_ult3
80         inf                    num_var30_0
82         inf                    num_var31_0
83         inf                      num_var31
85         inf                    num_var33_0
91         inf                    num_var42_0
93         inf                    num_var44_0
..         ...                            ...
156  11.711328             num_med_var22_ult3
191  11.690281        saldo_medio_var12_hace2
2    11.181873                          var15
159  10.667876            num_meses_var8_ult3
45    9.355915                       num_var1
87    8.856153             num_var37_med_ult2
196   8.435087  saldo_medio_var13_corto_hace3
176   8.287052            num_var43_emit_ult1
134   8.142118           imp_trans_var37_ult1
143   7.734800                          var21
200   6.923284  saldo_medio_var13_largo_hace3
178   4.970009           num_trasp_var11_ult1
187   4.350152         saldo_medio_var8_hace2
188   4.262383         saldo_medio_var8_hace3
0     4.100627                             ID
133   4.023761            imp_var43_emit_ult1
115   3.895027                          var36
141   3.611533            ind_var43_emit_ult1
183   3.278246         saldo_medio_var5_hace2
129   2.998528            imp_var7_recib_ult1
184   2.912343         saldo_medio_var5_hace3
142   2.773854           ind_var43_recib_ult1
112   2.290436                    saldo_var37
177   2.215025           num_var43_recib_ult1
192   1.966844        saldo_medio_var12_hace3
151   1.706396             num_ent_var16_ult1
148   1.691709            num_var7_recib_ult1
215   1.465226                          var38
3     1.328054             imp_ent_var16_ult1
1     1.045632                           var3

[216 rows x 2 columns]

In [31]:
vif=vif[vif["VIF"]>100]

# Remove multi co-related features

In [32]:
def get_correlation(data, threshold):
    corr_col = set()
    corrmat = data.corr()
    for i in range(len(corrmat.columns)):
        for j in range(i):
            if abs(corrmat.iloc[i, j])> threshold:
                colname = corrmat.columns[i]
                corr_col.add(colname)
    return corr_col

In [33]:
corr_features = get_correlation(unique_data, 0.85)
corr_features

{'delta_imp_venta_var44_1y3',
 'delta_num_compra_var44_1y3',
 'imp_aport_var13_ult1',
 'imp_aport_var17_ult1',
 'imp_aport_var33_hace3',
 'imp_op_var39_comer_ult3',
 'imp_op_var39_efect_ult1',
 'imp_op_var39_efect_ult3',
 'imp_op_var39_ult1',
 'imp_op_var40_comer_ult3',
 'imp_op_var40_ult1',
 'imp_op_var41_comer_ult1',
 'imp_op_var41_comer_ult3',
 'imp_reemb_var13_ult1',
 'imp_trasp_var17_in_ult1',
 'ind_var10_ult1',
 'ind_var10cte_ult1',
 'ind_var13',
 'ind_var13_corto',
 'ind_var13_corto_0',
 'ind_var24',
 'ind_var24_0',
 'ind_var25_0',
 'ind_var26_0',
 'ind_var26_cte',
 'ind_var30',
 'ind_var37_0',
 'ind_var41_0',
 'ind_var8',
 'ind_var9_cte_ult1',
 'ind_var9_ult1',
 'num_aport_var13_ult1',
 'num_aport_var17_ult1',
 'num_aport_var33_hace3',
 'num_compra_var44_hace3',
 'num_compra_var44_ult1',
 'num_med_var22_ult3',
 'num_meses_var12_ult3',
 'num_meses_var13_corto_ult3',
 'num_meses_var5_ult3',
 'num_meses_var8_ult3',
 'num_op_var39_comer_ult1',
 'num_op_var39_comer_ult3',
 'num_op_var39_efect_ult1',
 'num_op_var39_efect_ult3',
 'num_op_var39_hace2',
 'num_op_var39_hace3',
 'num_op_var39_ult1',
 'num_op_var39_ult3',
 'num_op_var40_comer_ult1',
 'num_op_var40_comer_ult3',
 'num_op_var40_efect_ult3',
 'num_op_var40_ult1',
 'num_op_var40_ult3',
 'num_op_var41_comer_ult1',
 'num_op_var41_comer_ult3',
 'num_op_var41_efect_ult3',
 'num_op_var41_ult3',
 'num_sal_var16_ult1',
 'num_var12',
 'num_var12_0',
 'num_var13',
 'num_var13_0',
 'num_var13_corto',
 'num_var13_corto_0',
 'num_var13_largo',
 'num_var13_largo_0',
 'num_var14_0',
 'num_var17',
 'num_var1_0',
 'num_var20',
 'num_var24',
 'num_var24_0',
 'num_var25_0',
 'num_var26_0',
 'num_var30',
 'num_var31',
 'num_var31_0',
 'num_var35',
 'num_var37_0',
 'num_var39_0',
 'num_var41_0',
 'num_var42',
 'num_var42_0',
 'num_var45_hace2',
 'num_var45_ult1',
 'num_var45_ult3',
 'num_var5',
 'num_var5_0',
 'num_var8',
 'num_var8_0',
 'saldo_medio_var12_ult1',
 'saldo_medio_var12_ult3',
 'saldo_medio_var13_corto_hace2',
 'saldo_medio_var13_corto_ult1',
 'saldo_medio_var13_corto_ult3',
 'saldo_medio_var13_largo_ult1',
 'saldo_medio_var13_largo_ult3',
 'saldo_medio_var17_ult1',
 'saldo_medio_var17_ult3',
 'saldo_medio_var29_ult1',
 'saldo_medio_var33_hace2',
 'saldo_medio_var33_hace3',
 'saldo_medio_var33_ult1',
 'saldo_medio_var33_ult3',
 'saldo_medio_var44_hace2',
 'saldo_medio_var44_hace3',
 'saldo_medio_var44_ult1',
 'saldo_medio_var44_ult3',
 'saldo_medio_var5_ult3',
 'saldo_medio_var8_ult1',
 'saldo_medio_var8_ult3',
 'saldo_var1',
 'saldo_var13',
 'saldo_var24',
 'saldo_var25',
 'saldo_var31',
 'saldo_var32',
 'saldo_var33',
 'saldo_var42'}

In [34]:
len(corr_features)

120

In [35]:
corrdata = unique_data.corr().abs().stack()

In [36]:
corrdata

ID     ID                               1.000000
       var3                             0.002021
       var15                            0.004083
       imp_ent_var16_ult1               0.034911
       imp_op_var39_comer_ult1          0.007945
       imp_op_var39_comer_ult3          0.009596
       imp_op_var40_comer_ult1          0.011549
       imp_op_var40_comer_ult3          0.010328
       imp_op_var40_efect_ult1          0.009122
       imp_op_var40_efect_ult3          0.024764
       imp_op_var40_ult1                0.005814
       imp_op_var41_comer_ult1          0.002267
       imp_op_var41_comer_ult3          0.005287
       imp_op_var41_efect_ult1          0.013718
       imp_op_var41_efect_ult3          0.016647
       imp_op_var41_ult1                0.010037
       imp_op_var39_efect_ult1          0.013279
       imp_op_var39_efect_ult3          0.015493
       imp_op_var39_ult1                0.011405
       imp_sal_var16_ult1               0.019168
       ind_var1_0                       0.023143
       ind_var5_0                       0.020687
       ind_var5                         0.000130
       ind_var8_0                       0.008326
       ind_var8                         0.003429
       ind_var12_0                      0.004029
       ind_var12                        0.006107
       ind_var13_0                      0.010646
       ind_var13_corto_0                0.010968
       ind_var13_corto                  0.014964
                                          ...
var38  saldo_medio_var5_ult3            0.011077
       saldo_medio_var8_hace2           0.000009
       saldo_medio_var8_hace3           0.005449
       saldo_medio_var8_ult1            0.014361
       saldo_medio_var8_ult3            0.014945
       saldo_medio_var12_hace2          0.009759
       saldo_medio_var12_hace3          0.009591
       saldo_medio_var12_ult1           0.009443
       saldo_medio_var12_ult3           0.009723
       saldo_medio_var13_corto_hace2    0.000281
       saldo_medio_var13_corto_hace3    0.005082
       saldo_medio_var13_corto_ult1     0.003940
       saldo_medio_var13_corto_ult3     0.005906
       saldo_medio_var13_largo_hace2    0.030463
       saldo_medio_var13_largo_hace3    0.005845
       saldo_medio_var13_largo_ult1     0.030478
       saldo_medio_var13_largo_ult3     0.027394
       saldo_medio_var17_hace2          0.002466
       saldo_medio_var17_ult1           0.002730
       saldo_medio_var17_ult3           0.000973
       saldo_medio_var29_ult1           0.005177
       saldo_medio_var33_hace2          0.007828
       saldo_medio_var33_hace3          0.002130
       saldo_medio_var33_ult1           0.007304
       saldo_medio_var33_ult3           0.006853
       saldo_medio_var44_hace2          0.017839
       saldo_medio_var44_hace3          0.024771
       saldo_medio_var44_ult1           0.011584
       saldo_medio_var44_ult3           0.012311
       var38                            1.000000
Length: 46656, dtype: float64

In [37]:
corrdata = corrdata.sort_values(ascending=False)

In [38]:
corrdata = corrdata[corrdata>0.85]
corrdata = corrdata[corrdata<1]

In [39]:
corrdata = pd.DataFrame(corrdata).reset_index()
corrdata.columns = ['features1', 'features2', 'corr_value']

In [40]:
grouped_feature_list = []
correlated_groups_list = []
for feature in corrdata.features1.unique():
    if feature not in grouped_feature_list:
        correlated_block = corrdata[corrdata.features1 == feature]
        grouped_feature_list = grouped_feature_list + list(correlated_block.features2.unique()) + [feature]
        correlated_groups_list.append(correlated_block)

In [41]:
len(correlated_groups_list)

56

In [42]:
for group in correlated_groups_list:
    print(group)

                    features1                   features2  corr_value
0  delta_imp_compra_var44_1y3  delta_num_compra_var44_1y3         1.0
     features1    features2  corr_value
2  num_var14_0  ind_var14_0         1.0
           features1                   features2  corr_value
4    ind_var13_corto             num_var13_corto    1.000000
74   ind_var13_corto           ind_var13_corto_0    0.990305
76   ind_var13_corto           num_var13_corto_0    0.990305
175  ind_var13_corto  num_meses_var13_corto_ult3    0.956835
380  ind_var13_corto                   ind_var13    0.884464
404  ind_var13_corto                 ind_var13_0    0.877585
441  ind_var13_corto                   num_var13    0.862211
                features1   features2  corr_value
8  saldo_medio_var29_ult1  saldo_var6         1.0
     features1             features2  corr_value
10   ind_var24             num_var24    1.000000
190  ind_var24           ind_var24_0    0.947012
194  ind_var24           num_var24_0    0.947012
319  ind_var24             ind_var12    0.903962
325  ind_var24             num_var12    0.902471
497  ind_var24  num_meses_var12_ult3    0.853007
      features1            features2  corr_value
12   num_var8_0           ind_var8_0    1.000000
251  num_var8_0             num_var8    0.923202
253  num_var8_0             ind_var8    0.923202
470  num_var8_0  num_meses_var8_ult3    0.856517
     features1   features2  corr_value
14  num_var1_0  ind_var1_0         1.0
                  features1                features2  corr_value
16   saldo_medio_var33_ult1              saldo_var33    0.999897
33   saldo_medio_var33_ult1  saldo_medio_var33_hace2    0.997923
41   saldo_medio_var33_ult1   saldo_medio_var33_ult3    0.997557
53   saldo_medio_var33_ult1    imp_aport_var33_hace3    0.995145
225  saldo_medio_var33_ult1              num_var33_0    0.936379
423  saldo_medio_var33_ult1    num_aport_var33_hace3    0.870707
482  saldo_medio_var33_ult1  saldo_medio_var33_hace3    0.855018
             features1           features2  corr_value
18  num_op_var41_hace3  num_op_var39_hace3    0.999706
                   features1                features2  corr_value
20   num_op_var41_efect_ult1  num_op_var39_efect_ult1    0.999667
352  num_op_var41_efect_ult1  num_op_var41_efect_ult3    0.892461
364  num_op_var41_efect_ult1  num_op_var39_efect_ult3    0.889806
                  features1                features2  corr_value
26  imp_op_var39_efect_ult3  imp_op_var41_efect_ult3    0.999032
                  features1                features2  corr_value
28  imp_op_var41_efect_ult1  imp_op_var39_efect_ult1    0.998906
       features1               features2  corr_value
30   saldo_var24             saldo_var12    0.998087
85   saldo_var24  saldo_medio_var12_ult1    0.989103
141  saldo_var24             saldo_var42    0.975582
143  saldo_var24  saldo_medio_var12_ult3    0.974967
                features1             features2  corr_value
34   imp_aport_var17_ult1  num_aport_var17_ult1    0.997823
310  imp_aport_var17_ult1           saldo_var17    0.906224
              features1        features2  corr_value
38   num_med_var45_ult3   num_var45_ult3    0.997679
299  num_med_var45_ult3  num_var45_hace2    0.909050
427  num_med_var45_ult3   num_var45_ult1    0.868831
                  features1                features2  corr_value
44  imp_op_var40_efect_ult3  num_op_var40_efect_ult3    0.997089
                  features1                  features2  corr_value
48   saldo_medio_var44_ult1     saldo_medio_var44_ult3    0.996556
100  saldo_medio_var44_ult1                saldo_var44    0.986019
208  saldo_medio_var44_ult1    saldo_medio_var44_hace2    0.941273
247  saldo_medio_var44_ult1  delta_imp_venta_var44_1y3    0.924085
                        features1                      features2  corr_value
50   saldo_medio_var13_largo_ult3   saldo_medio_var13_largo_ult1    0.995199
121  saldo_medio_var13_largo_ult3  saldo_medio_var13_largo_hace2    0.979221
    features1            features2  corr_value
56   num_var5             ind_var5    0.993921
294  num_var5  num_meses_var5_ult3    0.909399
476  num_var5            num_var42    0.855590
485  num_var5            ind_var30    0.854691
                   features1                features2  corr_value
58   saldo_medio_var44_hace3   imp_compra_var44_hace3    0.993656
166  saldo_medio_var44_hace3   num_compra_var44_hace3    0.962146
468  saldo_medio_var44_hace3  saldo_medio_var44_hace2    0.856613
             features1                features2  corr_value
62   num_op_var40_ult3        num_op_var40_ult1    0.993434
150  num_op_var40_ult3       num_op_var40_hace2    0.967682
370  num_op_var40_ult3  num_op_var40_comer_ult3    0.886500
384  num_op_var40_ult3  num_op_var40_comer_ult1    0.884011
             features1                      features2  corr_value
64   saldo_var13_corto   saldo_medio_var13_corto_ult1    0.993401
108  saldo_var13_corto   saldo_medio_var13_corto_ult3    0.984451
296  saldo_var13_corto  saldo_medio_var13_corto_hace2    0.909077
419  saldo_var13_corto                    saldo_var13    0.872258
             features1                features2  corr_value
66   imp_op_var40_ult1               saldo_var1    0.992557
336  imp_op_var40_ult1  imp_op_var40_comer_ult1    0.900924
      features1    features2  corr_value
82  saldo_var26  saldo_var25    0.989153
                  features1               features2  corr_value
89   saldo_medio_var17_ult1             saldo_var17    0.988929
153  saldo_medio_var17_ult1  saldo_medio_var17_ult3    0.966504
302  saldo_medio_var17_ult1             saldo_var31    0.907844
       features1    features2  corr_value
94   num_var12_0  ind_var12_0    0.986619
379  num_var12_0  num_var42_0    0.884549
       features1    features2  corr_value
96   num_var13_0    num_var13    0.986534
139  num_var13_0  ind_var13_0    0.975773
149  num_var13_0    ind_var13    0.968828
       features1    features2  corr_value
98   num_var31_0    num_var31    0.986364
300  num_var31_0  num_var17_0    0.907892
350  num_var31_0    num_var17    0.892935
    features1  features2  corr_value
104  num_var4  num_var35    0.984993
       features1    features2  corr_value
106  ind_var41_0  ind_var39_0    0.984635
239  ind_var41_0  num_var41_0    0.929443
331  ind_var41_0  num_var39_0    0.901627
                 features1              features2  corr_value
112  saldo_medio_var8_ult3  saldo_medio_var8_ult1    0.983073
277  saldo_medio_var8_ult3             saldo_var8    0.917564
       features1      features2  corr_value
116  ind_var25_0    ind_var26_0    0.980926
212  ind_var25_0  ind_var25_cte    0.940252
270  ind_var25_0  ind_var26_cte    0.919108
315  ind_var25_0    num_var25_0    0.905578
397  ind_var25_0    num_var26_0    0.878430
           features1          features2  corr_value
124  num_var13_largo  num_var13_largo_0    0.978764
144  num_var13_largo  ind_var13_largo_0    0.973438
             features1          features2  corr_value
126  ind_var9_cte_ult1  ind_var10cte_ult1    0.978346
205  ind_var9_cte_ult1      ind_var9_ult1    0.942073
266  ind_var9_cte_ult1     ind_var10_ult1    0.919527
445  ind_var9_cte_ult1      ind_var37_cte    0.861395
              features1           features2  corr_value
160  num_op_var39_hace2  num_op_var41_hace2    0.965116
338  num_op_var39_hace2   num_op_var39_ult3    0.900730
434  num_op_var39_hace2   num_op_var41_ult3    0.865014
              features1           features2  corr_value
168  imp_sal_var16_ult1  num_sal_var16_ult1    0.958677
             features1                features2  corr_value
180  num_op_var41_ult1  num_op_var41_comer_ult1    0.952260
286  num_op_var41_ult1        num_op_var41_ult3    0.912708
335  num_op_var41_ult1        num_op_var39_ult1    0.900924
465  num_op_var41_ult1  num_op_var41_comer_ult3    0.858366
                features1              features2  corr_value
199  imp_aport_var33_ult1  num_aport_var33_hace3    0.942809
              features1       features2  corr_value
200  num_med_var22_ult3  num_var22_ult3    0.942522
       features1       features2  corr_value
206  ind_var37_0   ind_var37_cte    0.941483
388  ind_var37_0  ind_var10_ult1    0.881963
447  ind_var37_0   ind_var9_ult1    0.860856
             features1          features2  corr_value
210  imp_op_var41_ult1  imp_op_var39_ult1    0.940692
                features1                  features2  corr_value
220  imp_reemb_var13_ult1  delta_imp_reemb_var13_1y3     0.93772
      features1   features2  corr_value
226  num_var5_0  ind_var5_0    0.936041
                   features1                features2  corr_value
233  num_op_var39_comer_ult1        num_op_var39_ult1    0.932276
269  num_op_var39_comer_ult1  num_op_var39_comer_ult3    0.919152
449  num_op_var39_comer_ult1  num_op_var41_comer_ult1    0.860551
487  num_op_var39_comer_ult1        num_op_var39_ult3    0.853998
       features1           features2  corr_value
236  num_var37_0  num_var37_med_ult2    0.929703
                   features1                features2  corr_value
243  imp_op_var40_comer_ult3  imp_op_var40_comer_ult1    0.927699
466  imp_op_var40_comer_ult3  num_op_var40_comer_ult1    0.858342
507  imp_op_var40_comer_ult3  num_op_var40_comer_ult3    0.850774
       features1  features2  corr_value
264  num_var20_0  num_var20    0.919633
                 features1              features2  corr_value
306  saldo_medio_var5_ult1  saldo_medio_var5_ult3    0.906869
     features1  features2  corr_value
313  num_var30  num_var42    0.905932
377  num_var30  ind_var30    0.884850
                   features1               features2  corr_value
394  saldo_medio_var12_hace2  saldo_medio_var12_ult3    0.879034
                 features1    features2  corr_value
400  num_compra_var44_ult1  num_var44_0    0.878132
                   features1                features2  corr_value
412  imp_op_var39_comer_ult1  imp_op_var39_comer_ult3    0.873655
503  imp_op_var39_comer_ult1  imp_op_var41_comer_ult1    0.851952
       features1    features2  corr_value
420  saldo_var32  num_var32_0    0.870885
                   features1                features2  corr_value
437  imp_op_var41_comer_ult3  imp_op_var39_comer_ult3    0.864882
                     features1             features2  corr_value
456  delta_imp_aport_var13_1y3  imp_aport_var13_ult1    0.859893
                features1             features2  corr_value
459  num_aport_var13_ult1  imp_aport_var13_ult1    0.859893

In [43]:
from sklearn.ensemble import RandomForestClassifier

important_features = []
for group in correlated_groups_list:
    features = list(group.features1.unique()) + list(group.features2.unique())
    rf = RandomForestClassifier(n_estimators=100, random_state=0)
    rf.fit(unique_data[features], Y)
    importance = pd.concat([pd.Series(features), pd.Series(rf.feature_importances_)], axis = 1)
    importance.columns = ['features', 'importance']
    importance.sort_values(by = 'importance', ascending = False, inplace = True)
    feat = importance.iloc[0]
    important_features.append(feat)

In [44]:
important_features

[features      delta_imp_compra_var44_1y3
 importance                      0.518266
 Name: 0, dtype: object, features      ind_var14_0
 importance           0.51
 Name: 1, dtype: object, features      num_meses_var13_corto_ult3
 importance                      0.271997
 Name: 4, dtype: object, features      saldo_var6
 importance          0.33
 Name: 1, dtype: object, features      num_meses_var12_ult3
 importance                0.372923
 Name: 6, dtype: object, features      num_meses_var8_ult3
 importance               0.680636
 Name: 4, dtype: object, features      ind_var1_0
 importance          0.51
 Name: 1, dtype: object, features      num_aport_var33_hace3
 importance                     0.15
 Name: 6, dtype: object, features      num_op_var41_hace3
 importance              0.513734
 Name: 0, dtype: object, features      num_op_var41_efect_ult3
 importance                   0.301669
 Name: 2, dtype: object, features      imp_op_var41_efect_ult3
 importance                    0.52345
 Name: 1, dtype: object, features      imp_op_var39_efect_ult1
 importance                   0.504077
 Name: 1, dtype: object, features      saldo_var42
 importance       0.954586
 Name: 3, dtype: object, features      saldo_var17
 importance       0.741237
 Name: 2, dtype: object, features      num_var45_hace2
 importance           0.324922
 Name: 2, dtype: object, features      imp_op_var40_efect_ult3
 importance                   0.490589
 Name: 0, dtype: object, features      saldo_var44
 importance       0.315005
 Name: 2, dtype: object, features      saldo_medio_var13_largo_ult1
 importance                        0.435626
 Name: 1, dtype: object, features      num_meses_var5_ult3
 importance               0.416095
 Name: 2, dtype: object, features      saldo_medio_var44_hace2
 importance                   0.822411
 Name: 3, dtype: object, features      num_op_var40_comer_ult1
 importance                   0.280704
 Name: 4, dtype: object, features      saldo_var13
 importance       0.348814
 Name: 4, dtype: object, features      saldo_var1
 importance      0.533645
 Name: 1, dtype: object, features      saldo_var26
 importance       0.510643
 Name: 0, dtype: object, features      saldo_var31
 importance        0.80585
 Name: 3, dtype: object, features      num_var42_0
 importance       0.383149
 Name: 2, dtype: object, features      ind_var13_0
 importance       0.421059
 Name: 2, dtype: object, features      num_var31_0
 importance       0.541006
 Name: 0, dtype: object, features      num_var35
 importance     0.516135
 Name: 1, dtype: object, features      num_var41_0
 importance       0.391233
 Name: 2, dtype: object, features      saldo_var8
 importance      0.358914
 Name: 2, dtype: object, features      num_var25_0
 importance       0.498048
 Name: 4, dtype: object, features      num_var13_largo_0
 importance                 0.43
 Name: 1, dtype: object, features      ind_var37_cte
 importance         0.300879
 Name: 4, dtype: object, features      num_op_var39_ult3
 importance             0.327172
 Name: 2, dtype: object, features      num_sal_var16_ult1
 importance                  0.51
 Name: 1, dtype: object, features      num_op_var41_ult3
 importance             0.291991
 Name: 2, dtype: object, features      num_aport_var33_hace3
 importance                 0.818554
 Name: 1, dtype: object, features      num_var22_ult3
 importance          0.747122
 Name: 1, dtype: object, features      ind_var37_cte
 importance         0.337138
 Name: 1, dtype: object, features      imp_op_var39_ult1
 importance             0.506425
 Name: 1, dtype: object, features      delta_imp_reemb_var13_1y3
 importance                         0.44
 Name: 1, dtype: object, features      num_var5_0
 importance      0.701776
 Name: 0, dtype: object, features      num_op_var39_ult3
 importance             0.288823
 Name: 4, dtype: object, features      num_var37_0
 importance       0.619455
 Name: 0, dtype: object, features      imp_op_var40_comer_ult3
 importance                   0.314459
 Name: 0, dtype: object, features      num_var20_0
 importance       0.570089
 Name: 0, dtype: object, features      saldo_medio_var5_ult3
 importance                 0.554222
 Name: 1, dtype: object, features      num_var42
 importance     0.375649
 Name: 1, dtype: object, features      saldo_medio_var12_hace2
 importance                   0.574559
 Name: 0, dtype: object, features      num_var44_0
 importance       0.572465
 Name: 1, dtype: object, features      imp_op_var39_comer_ult3
 importance                   0.416749
 Name: 1, dtype: object, features      num_var32_0
 importance           0.48
 Name: 1, dtype: object, features      imp_op_var39_comer_ult3
 importance                   0.529641
 Name: 1, dtype: object, features      imp_aport_var13_ult1
 importance                0.597324
 Name: 1, dtype: object, features      imp_aport_var13_ult1
 importance                0.832233
 Name: 1, dtype: object]

In [45]:
important_features = pd.DataFrame(important_features)
important_features

                       features  importance
0    delta_imp_compra_var44_1y3    0.518266
1                   ind_var14_0    0.510000
4    num_meses_var13_corto_ult3    0.271997
1                    saldo_var6    0.330000
6          num_meses_var12_ult3    0.372923
4           num_meses_var8_ult3    0.680636
1                    ind_var1_0    0.510000
6         num_aport_var33_hace3    0.150000
0            num_op_var41_hace3    0.513734
2       num_op_var41_efect_ult3    0.301669
1       imp_op_var41_efect_ult3    0.523450
1       imp_op_var39_efect_ult1    0.504077
3                   saldo_var42    0.954586
2                   saldo_var17    0.741237
2               num_var45_hace2    0.324922
0       imp_op_var40_efect_ult3    0.490589
2                   saldo_var44    0.315005
1  saldo_medio_var13_largo_ult1    0.435626
2           num_meses_var5_ult3    0.416095
3       saldo_medio_var44_hace2    0.822411
4       num_op_var40_comer_ult1    0.280704
4                   saldo_var13    0.348814
1                    saldo_var1    0.533645
0                   saldo_var26    0.510643
3                   saldo_var31    0.805850
2                   num_var42_0    0.383149
2                   ind_var13_0    0.421059
0                   num_var31_0    0.541006
1                     num_var35    0.516135
2                   num_var41_0    0.391233
2                    saldo_var8    0.358914
4                   num_var25_0    0.498048
1             num_var13_largo_0    0.430000
4                 ind_var37_cte    0.300879
2             num_op_var39_ult3    0.327172
1            num_sal_var16_ult1    0.510000
2             num_op_var41_ult3    0.291991
1         num_aport_var33_hace3    0.818554
1                num_var22_ult3    0.747122
1                 ind_var37_cte    0.337138
1             imp_op_var39_ult1    0.506425
1     delta_imp_reemb_var13_1y3    0.440000
0                    num_var5_0    0.701776
4             num_op_var39_ult3    0.288823
0                   num_var37_0    0.619455
0       imp_op_var40_comer_ult3    0.314459
0                   num_var20_0    0.570089
1         saldo_medio_var5_ult3    0.554222
1                     num_var42    0.375649
0       saldo_medio_var12_hace2    0.574559
1                   num_var44_0    0.572465
1       imp_op_var39_comer_ult3    0.416749
1                   num_var32_0    0.480000
1       imp_op_var39_comer_ult3    0.529641
1          imp_aport_var13_ult1    0.597324
1          imp_aport_var13_ult1    0.832233

In [46]:
len(important_features)

56

In [47]:
features_to_consider = set(important_features['features'])
features_to_discard = set(corr_features) - set(features_to_consider)

In [48]:
len(features_to_discard)

88

In [49]:
x_grouped_uncorr_data = unique_data.drop(labels = features_to_discard, axis = 1)

In [50]:
x_grouped_uncorr_data.shape,unique_data.shape

((3948, 128), (3948, 216))

In [51]:
x_grouped_uncorr_data.head()

,ID,var3,var15,imp_ent_var16_ult1,imp_op_var39_comer_ult1,imp_op_var39_comer_ult3,imp_op_var40_comer_ult1,imp_op_var40_comer_ult3,imp_op_var40_efect_ult1,imp_op_var40_efect_ult3,...,saldo_medio_var8_hace3,saldo_medio_var12_hace2,saldo_medio_var12_hace3,saldo_medio_var13_corto_hace3,saldo_medio_var13_largo_hace2,saldo_medio_var13_largo_hace3,saldo_medio_var13_largo_ult1,saldo_medio_var17_hace2,saldo_medio_var44_hace2,var38
0,1.0,2.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,39205.170000
1,3.0,2.0,34.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,122.22,0.0,0.0,0.0,0.0,0.0,49278.030000
2,4.0,2.0,23.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,67333.770000
3,8.0,2.0,37.0,0.0,195.0,195.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,64007.970000
4,10.0,2.0,39.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0,117310.979016

In [52]:
%%time
run_randomForest(x_grouped_uncorr_data, Y)

Accuracy:  0.9340994115153982
Wall time: 5.69 s

# Annova test for numerical to catagorical variables

In [53]:
Y.unique()

array([0., 1.])

In [54]:
from sklearn.feature_selection import f_classif, f_regression
sel = f_classif(x_grouped_uncorr_data, Y)

In [55]:
p_values = pd.Series(sel[1])
p_values.index = x_grouped_uncorr_data.columns
p_values.sort_values(ascending = True, inplace = True)

In [56]:
p_values

num_meses_var5_ult3             7.124905e-18
ind_var5                        1.892021e-15
num_var42                       1.353661e-14
var15                           1.453329e-14
var36                           6.222870e-08
num_var4                        4.269617e-05
num_var35                       6.293680e-05
imp_op_var39_efect_ult1         1.333748e-04
imp_op_var41_efect_ult1         2.545181e-04
imp_op_var40_efect_ult1         4.008155e-04
imp_op_var41_ult1               1.488313e-03
num_meses_var8_ult3             1.695983e-03
imp_op_var41_efect_ult3         1.732780e-03
imp_op_var39_ult1               1.781858e-03
ind_var12_0                     4.346234e-03
saldo_var30                     4.475803e-03
num_var30_0                     4.484988e-03
imp_op_var40_efect_ult3         4.839156e-03
num_var7_recib_ult1             5.505521e-03
ind_var13_0                     5.639554e-03
num_var25_0                     8.233199e-03
num_var1                        9.963332e-03
num_meses_var13_corto_ult3      1.214673e-02
ind_var8_0                      1.405100e-02
num_var22_ult1                  1.794195e-02
saldo_var13                     3.137717e-02
ind_var12                       3.315723e-02
num_meses_var12_ult3            3.345420e-02
ind_var14_0                     4.736325e-02
var38                           4.959531e-02
                                    ...
saldo_medio_var44_hace2         7.223930e-01
imp_compra_var44_ult1           7.255100e-01
num_var33_0                     7.282358e-01
num_op_var40_hace2              7.363609e-01
saldo_medio_var17_hace2         7.408178e-01
delta_imp_reemb_var13_1y3       7.634948e-01
num_aport_var33_hace3           7.634948e-01
delta_imp_aport_var17_1y3       7.634948e-01
var3                            7.638479e-01
imp_venta_var44_ult1            7.745834e-01
imp_sal_var16_ult1              7.749265e-01
saldo_medio_var8_hace3          7.889779e-01
imp_var7_recib_ult1             7.924011e-01
imp_ent_var16_ult1              8.002002e-01
imp_compra_var44_hace3          8.075037e-01
saldo_var6                      8.315320e-01
imp_aport_var17_hace3           8.315320e-01
imp_aport_var33_ult1            8.315320e-01
delta_imp_trasp_var17_in_1y3    8.315320e-01
saldo_medio_var8_hace2          8.320828e-01
num_ent_var16_ult1              8.323313e-01
var21                           8.542066e-01
imp_op_var40_comer_ult3         8.584521e-01
imp_aport_var13_ult1            8.606246e-01
num_var22_ult3                  8.798211e-01
saldo_var8                      9.036954e-01
imp_op_var40_comer_ult1         9.167866e-01
ind_var37_cte                   9.461568e-01
num_op_var40_comer_ult1         9.533053e-01
num_var43_emit_ult1             9.594613e-01
Length: 128, dtype: float64

In [57]:
p_values = p_values[p_values<0.05]
x_data_p = x_grouped_uncorr_data[p_values.index]

In [58]:
x_data_p.shape,x_grouped_uncorr_data.shape

((3948, 30), (3948, 128))

In [59]:
%%time
run_randomForest(x_data_p, Y)

Accuracy:  0.9521274201891693
Wall time: 5.03 s